<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Jesse Claven">
      {assigns[:page_title] || "Hello"}
    </.live_title>
    <link rel="alternate" type="application/rss+xml" href={~p"/feed.xml"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" sizes="any" type="image/x-icon" href="/favicon.ico" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain={Application.get_env(:personal_site, PersonalSite.Plausible)[:data_domain]}
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white">
    <header class="bg-black text-white dark:bg-white dark:text-black p-3 h-10">
      <.link navigate={~p"/"} class="items-center text-xs flex">
        <span>&larr; Created by Jesse Claven</span>
      </.link>
    </header>
    <.flash_group flash={@flash} />
    <main>
      {@inner_content}
    </main>
  </body>
</html>
