<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Jesse Claven">
      {assigns[:page_title] || "Hello"}
    </.live_title>
    <link rel="alternate" type="application/rss+xml" href={~p"/feed.xml"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" sizes="any" type="image/x-icon" href="/favicon.ico" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain={Application.get_env(:personal_site, PersonalSite.Plausible)[:data_domain]}
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white p-14">
    <header class="md:flex md:flex-row md:gap-6 items-center">
      <img
        src={~p"/images/avatar.jpg"}
        alt="Jesse Claven"
        class="w-8 h-8 rounded-full object-cover border border-black dark:border-white"
      />
      <h1 class="font-bold">Jesse Claven</h1>
      <nav class="list-none flex flex-col md:flex-row gap-1 md:gap-6 text-sm">
        <.link navigate={~p"/"}>Home</.link>
        <.link navigate={~p"/blog"}>
          Blog<span class="sup pl-0.5"><%= Enum.count(@posts) %></span>
        </.link>
        <.link navigate={~p"/projects"}>
          Projects<span class="sup pl-0.5"><%= Enum.count(@projects) %></span>
        </.link>
        <.link navigate={~p"/apps"}>
          Apps<span class="sup pl-0.5">2</span>
        </.link>
        <.link navigate={~p"/contributions"}>
          Contributions<span class="sup pl-0.5"><%= Enum.count(@contributions) %></span>
        </.link>
        <.link navigate={~p"/works"}>
          Works<span class="sup pl-0.5"><%= Enum.count(@works) %></span>
        </.link>
        <.link navigate={~p"/education"}>Education</.link>
        <.link navigate={~p"/about"}>About</.link>
        <.link navigate={~p"/contact"}>Contact</.link>
      </nav>
    </header>
    <hr class="my-6 border-black dark:border-white" />
    <main>
      {@inner_content}
    </main>
  </body>
</html>
