<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Jesse Claven">
      <%= assigns[:page_title] || "Hello" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <script defer data-domain="jc-personal-site.fly.dev" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white w-screen h-screen p-14">
<header class="flex gap-6">
    <h1 class="font-bold">Jesse Claven</h1>
    <nav class="list-none flex gap-6 text-sm">
        <.link class="hover:underline" navigate={~p"/"}>Home</.link>
        <.link class="hover:underline" navigate={~p"/notes"}>Notes</.link>
        <.link class="hover:underline" navigate={~p"/projects"}>Projects</.link>
        <.link class="hover:underline" navigate={~p"/works"}>Works</.link>
        <.link class="hover:underline" navigate={~p"/education"}>Education</.link>
        <.link class="hover:underline" navigate={~p"/about"}>About</.link>
        <.link class="hover:underline" navigate={~p"/contact"}>Contact</.link>
        <.link class="hover:underline" navigate={~p"/colophon"}>Colophon</.link>
    </nav>
</header>
<hr class="my-6" />
<main class="w-full lg:w-1/2">
  <div class="border border-dashed rounded-sm border-black dark:border-white p-2 mb-6 text-xs max-w-fit">✂ Content (Work, projects, notes, etc.) is being added.</div>
    <p>Sorry, we've encountered an internal error.</p>
</main>
  </body>
</html>
