{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        {{ section.title }}
    </h1>
    <div id="notes">
        {% for page in paginator.pages %}
            <div id="notes-short">
                <p>{{ page.date }} - <a href="{{ page.permalink | safe }}">{{ page.title }} →</a></p>
                <p>{{ page.taxonomies.tags | join(sep=", ") }}</p>
            </div>
        {% endfor %}
    </div>
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
{% endblock content %}
