{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        {{ section.title }}
    </h1>
    <div id="projects">
        {% for page in paginator.pages %}
            <div id="projects-short">
                <h2>{{ page.title }}</h2>
                <p><a href="{{ page.extra.source_link }}" target="_blank">{{ page.extra.source_link }} ↗</a></p>
                <p>{{ page.taxonomies.tags | join(sep=", ") }}</p>
                <p>{{ page.extra.description }}</p>
            </div>
        {% endfor %}
        <nav class="pagination">
            {% if paginator.previous or paginator.next %}
                <hr />
            {% endif %}
            {% if paginator.previous %}
                <a class="previous" href="{{ paginator.previous }}">← Previous</a>
            {% endif %}
            {% if paginator.next %}
                <a class="next" href="{{ paginator.next }}">Next →</a>
            {% endif %}
        </nav>
    </div>
{% endblock content %}
