{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        {{ section.title }}
    </h1>
    <div id="work">
        {% for page in paginator.pages %}
            <div id="work-short">
                <h2>{{ page.title }}</h2>
                <p>{{ page.extra.start }} &mdash; {{ page.extra.end }}</p>
                <p>{{ page.extra.role }}</p>
                <p>{{ page.extra.locations | join(sep=" / ") }}</p>
                <p>{{ page.taxonomies.tags | join(sep=", ") }}</p>
                <p>{{ page.extra.description }}</p>
            </div>
        {% endfor %}
        <nav class="pagination">
            {% if paginator.previous or paginator.next %}
                <hr />
            {% endif %}
            {% if paginator.previous %}
                <a class="previous" href="{{ paginator.previous }}">← Previous</a>
            {% endif %}
            {% if paginator.next %}
                <a class="next" href="{{ paginator.next }}">Next →</a>
            {% endif %}
        </nav>
    </div>
{% endblock content %}
